<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF_8" />
    <meta name="viewport" content="width=device_width, initial_scale=1.0" />
    <title>Food Budget</title>
    <link rel="stylesheet" href="/style.css" />
    <script src="/script.js" defer></script>
  </head>
  
  <body>
    <nav>
      <h1 class="navigation_heading">Food App</h1>
      <div>
        <a href="#home" class="navigation">Home</a>
        <a href="" class="navigation">Budget</a>
        <a href="#skills" class="navigation">Skills</a>
        <a href="#work" class="navigation">Work</a>
        <a href="#contact" class="navigation">Contact</a>
      </div>
    </nav>

    <div class="budget_container">
      <div>
        <h1>Budget</h1>
        <input type="range" min="1" max="500" value="50" id="budget_slider" />
        <br />
        <p id="budget_money_amount">€</p>
        <p>Money per day: <span id="budget_money_per_day"></span>€</p>
      </div>
    </div>


    <div class="meal_options">
      <button id="meal_add_button">2,60€ & 0,76€</button>
      <img src="../images/pasta.jpg" alt="pasta" class="meal_images" />
      <p class="meal_description">
        All ingredients: Kotimaista sika-nauta jauheliha 23 % 400g, Xtra Spaghetti 1kg 1000g <br />
        Time to make: 30min <br />
        Meals for 1 person: 5 <br />
        Per meal price: 2€
      </p>
    </div>
    <div class="meal_options">
      <button id="meal_add_button">+10€</button>
      <img src="../images/pasta.jpg" alt="pasta" class="meal_images" />
      <p class="meal_description">
        All ingredients: 10€ <br />
        Time to make: 30min <br />
        Meals for 1 person: 5 <br />
        Per meal price: 2€
      </p>
    </div>
    <div class="meal_options">
      <button id="meal_add_button">+10€</button>
      <img src="../images/pasta.jpg" alt="pasta" class="meal_images" />
      <p class="meal_description">
        All ingredients: 10€ <br />
        Time to make: 30min <br />
        Meals for 1 person: 5 <br />
        Per meal price: 2€
      </p>
    </div>

    <div class="ingredients_list">
      <div>
        <ul class="ingredients_listing">
          <a href="">
            <img src="../images/copy.png" alt="copy" id="ingredients_copy" />
          </a>
          <% products.forEach(p => { %>
            <li><%= p.ProductName %></li>
            <p><%= p.ProductPrice %></p>
          <% }) %>
        </ul>
      </div>
    </div>

    <footer>
      <div class="footer_box">
        <h2 class="footer_headline">Food App</h2>
        <p id="footer_info">
          My aim is to develop websites and learn backend skills. My passion is
          developing AI tools. Let's develop new afficent programs.
        </p>
      </div>
      <div class="footer_box" id="footer_navigation">
        <h3 class="footer_headline">Navigaton</h3>
        <a href="#home" class="footer_links">Home</a>
        <a href="#about" class="footer_links">About</a>
        <a href="#skills" class="footer_links">Skills</a>
        <a href="#work" class="footer_links">Work</a>
        <a href="#contact" class="footer_links">Contact</a>
      </div>
      <div class="footer_box">
        <h3 class="footer_headline">Contact Me</h3>
        <p class="footer_contact">
          <img class="footer_icon_text" src="icons/mail.png" alt="email" />
          samuel.hollman@hotmail.com
        </p>
        <p class="footer_contact">
          <img class="footer_icon_text" src="icons/phone.png" alt="phone" />
          +358406797988
        </p>
        <a href="https://github.com/SamuelhaIIman" class="footer_icon_link">
          <img class="footer_icon" src="icons/github.png" alt="github" />
        </a>
        <a
          href="https://www.linkedin.com/in/samuel_h%C3%A5llman_131217266/"
          class="footer_icon_link"
        >
          <img class="footer_icon" src="icons/linkedin.png" alt="github" />
        </a>
      </div>
    </footer>
    <div class="copyright">
      © Copyright 2025 | Samuel Hållman | All Rights Reserved
    </div>
  </body>
</html>
