<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Food Budget</title>
    <link rel="stylesheet" href="/style.css" />
    <script src="/script.js" defer></script>
  </head>
  
  <body>
    <nav>
      <h1 class="navigation-heading">Food App</h1>
      <div>
        <a href="#home" class="navigation">Home</a>
        <a href="" class="navigation">Budget</a>
        <a href="#skills" class="navigation">Skills</a>
        <a href="#work" class="navigation">Work</a>
        <a href="#contact" class="navigation">Contact</a>
      </div>
    </nav>

    <div class="budget-container">
      <div>
        <h1>Budget</h1>
        <input type="range" min="1" max="500" value="50" id="budget-slider" />
        <br />
        <p id="budget-money-amount">€</p>
        <p>Money per day: <span id="budget-money-per-day"></span>€</p>
      </div>
    </div>

    <div class="calendar-container">
      <div class="calendar">
        <div class="calendar-header">
          <button class="nav-btn" id="prev">&#8249;</button>
          <h2 id="month-year"></h2>
          <button class="nav-btn" id="next">&#8250;</button>
        </div>
        <div class="calendar-body">
          <div class="day-names">
            <div>Mon</div>
            <div>Tue</div>
            <div>Wed</div>
            <div>Thu</div>
            <div>Fri</div>
            <div>Sat</div>
            <div>Sun</div>
          </div>
          <div class="days" id="calendar-days"></div>
        </div>
      </div>
    </div>

    <div class="meal-options">
      <button id="meal-add-button">+10€</button>
      <img src="../images/pasta.jpg" alt="pasta" class="meal-images" />
      <p class="meal-description">
        All ingredients: 10€ <br />
        Time to make: 30min <br />
        Meals for 1 person: 5 <br />
        Per meal price: 2€
      </p>
    </div>
    <div class="meal-options">
      <button id="meal-add-button">+10€</button>
      <img src="../images/pasta.jpg" alt="pasta" class="meal-images" />
      <p class="meal-description">
        All ingredients: 10€ <br />
        Time to make: 30min <br />
        Meals for 1 person: 5 <br />
        Per meal price: 2€
      </p>
    </div>
    <div class="meal-options">
      <button id="meal-add-button">+10€</button>
      <img src="../images/pasta.jpg" alt="pasta" class="meal-images" />
      <p class="meal-description">
        All ingredients: 10€ <br />
        Time to make: 30min <br />
        Meals for 1 person: 5 <br />
        Per meal price: 2€
      </p>
    </div>

    <div class="ingredients-list">
      <div>
        <a href="">
          <img src="../images/copy.png" alt="copy" />
        </a>
        <ul class="ingredients-listing">
          <button>copy</button>
          <% products.forEach(p => { %>
            <li><%= p.ProductName %> — <%= p.ProductPrice %></li>
          <% }) %>
        </ul>
      </div>
    </div>

    <footer>
      <div class="footer-box">
        <h2 class="footer-headline">Food App</h2>
        <p id="footer-info">
          My aim is to develop websites and learn backend skills. My passion is
          developing AI tools. Let's develop new afficent programs.
        </p>
      </div>
      <div class="footer-box" id="footer-navigation">
        <h3 class="footer-headline">Navigaton</h3>
        <a href="#home" class="footer-links">Home</a>
        <a href="#about" class="footer-links">About</a>
        <a href="#skills" class="footer-links">Skills</a>
        <a href="#work" class="footer-links">Work</a>
        <a href="#contact" class="footer-links">Contact</a>
      </div>
      <div class="footer-box">
        <h3 class="footer-headline">Contact Me</h3>
        <p class="footer-contact">
          <img class="footer-icon-text" src="icons/mail.png" alt="email" />
          samuel.hollman@hotmail.com
        </p>
        <p class="footer-contact">
          <img class="footer-icon-text" src="icons/phone.png" alt="phone" />
          +358406797988
        </p>
        <a href="https://github.com/SamuelhaIIman" class="footer-icon-link">
          <img class="footer-icon" src="icons/github.png" alt="github" />
        </a>
        <a
          href="https://www.linkedin.com/in/samuel-h%C3%A5llman-131217266/"
          class="footer-icon-link"
        >
          <img class="footer-icon" src="icons/linkedin.png" alt="github" />
        </a>
      </div>
    </footer>
    <div class="copyright">
      © Copyright 2025 | Samuel Hållman | All Rights Reserved
    </div>
  </body>
</html>
