body {
    background-color: #1d2a35;
    margin: 0px;
}
h1 {
    font-size: 64px;
    margin: 0px;
    color: #ddd;
}
p {
    color: #ddd;
    font-size: 24px;
    margin: 0px;
}

/* NAVIGATION */
nav {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #15202b;
}
.navigation-heading {
    margin-left: 10px;
    color: #04AA6D;
}
.navigation {
    padding-right: 20px;
    font-size: 24px;
    color: #ddd;
    text-decoration: none;
    position: relative;
    transition: color 0.5s;
}
.navigation:hover {
    color: #04AA6D;
}

/* BUDGET */
.budget_container {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
#budget_slider {
    width: 200px;
}
#budget_money-per-day {
    font-size: 28px;
    color: #04AA6D;
}
#budget_money_amount {
    background-color: #04AA6D;
    border-radius: 5px;
    width: 200px;
    color: black;
    font-size: 28px;
    text-align: center;
}
#demo:hover {
    background-color: #049862;
}


/*MEALS*/
.meal_options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 25px;
}
.meal_images {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: 5px solid #04AA6D;
    transition: width 1s, height 1s, border 2s;
}
.meal_images:hover {
    width: 250px;
    height: 250px;
    border: 5px solid #035738;
} 
.meal_description {
    width: 220px;
}
#meal_add_button {
    background-color: #04AA6D;
    border: none;
    border-radius: 10px;
    font-size: 24px;
}
#meal_add_button:hover {
    background-color: #049862;
    cursor: pointer;
}
#ingredients_copy {
    width: 50px;
    float: right;
}

/* MEALS */
.ingredients_list {
    display: flex;
    justify-content: center;
    align-items: center;
}
.ingredients_listing {
    background-color: #04AA6D;
    border-radius: 10px;
}

/* Footer */
footer {
    width: 100%;
    height: 270px;
    background-color: #15202b;
    display: flex;
    justify-content: center;
    z-index: -1;
}
.footer_box {
    width: 260px;
}
#footer_navigation {
    position: relative;
    left: 80px;
}
.footer_links {
    text-decoration: none;
    font-size: 20px;
    color: #888888;
    display: block;
    position: relative;
    transition: color 0.5s;
    width: 65px;
    margin-top: 5px;
}
.footer_links:hover {
    color: #04AA6D;
}
#footer_info {
    color: #888888;
}
.footer_headline {
    color: #ddd;
    margin: 10px 0px 0px 0px;
}
.footer_contact {
    color: #888888;
    position: relative;
}
.footer_icon {
    width: 50px;
    margin: 10px;
    position: relative;
}
.footer_icon_link {
    text-decoration: none;
}
.footer_icon_text {
    width: 25px;
    color: #ddd;
    position: relative;
    top: 3px;
}
.copyright {
    width: 100%;
    height: 40px;
    background-color: #121b25;
    color: #888888;
    display: flex;
    justify-content: center;
    align-items: center;
}