body {
    background-color: #1d2a35;
    margin: 0px;
}
h1 {
    font-size: 64px;
    margin: 0px;
    color: #ddd;
}
p {
    color: #ddd;
}

/* NAVIGATION */
nav {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #15202b;
}
.navigation-heading {
    margin-left: 10px;
    color: #04AA6D;
}
.navigation {
    padding-right: 20px;
    font-size: 24px;
    color: #ddd;
    text-decoration: none;
    position: relative;
    transition: color 0.5s;
}
.navigation:hover {
    color: #04AA6D;
}

/* BUDGET */
.budget-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
#budget-slider {
    width: 200px;
}
#budget-money-amount {
    width: 200px;
    font-size: 24px;
    border-radius: 5px;
    background-color: #04AA6D;
    border: none;
    text-align: center;
}
#demo:hover {
    background-color: #049862;
}


/*MEALS*/
.meal-options {
    display: flex;
    justify-content: center;
    align-items: center;
}
.meal-images {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: 5px solid #04AA6D;
}
#meal-add-button {
    background-color: #04AA6D;
    border: none;
    border-radius: 10px;
    font-size: 24px;
}
#meal-add-button:hover {
    background-color: #049862;
    cursor: pointer;
}